@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

body {
  background-color: rgb(245, 211, 149);
  font-size: 2em;
  font-family: "Delicious Handrawn", cursive;
}

input {
  font-family: "Delicious Handrawn", cursive;
  font-size: 1.3em;
}

button {
  font-family: "Delicious Handrawn", cursive;
  font-size: 1.3em;
}
